{% load static %}
<section class="newsletter">
    <div class="element" id="newsletter">
        <div>
            <img src="{% static 'images/Temp1.jpeg' %}" alt="img">
        </div>
        <div>
            <h2 class="title-h2">Join Our Newsletter </h2>
            <h5>The latest insights on today's world of work straight to your inbox.</h5>
            <form action="" method="post" class="form">
                <input id="email" type="text" name="email" placeholder="Enter your email">
                <button type="submit" name="submit" id="submit">SUBMIT</button>
            </form>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>