{% extends 'SubHazApp/base/base.html' %}
{% load static %}
{% block content %}

    <style>
        .checked {
      color: #fffa00;
      }
      .fa-star-half-full{
        color: #fffa00;
      }
      * {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  border: 1px solid #4a4e54;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
  background-color: #4a4e54;
  color: white;
  font-size: 25px;
}

/* List items */
.price li {
  border-bottom: 1px solid #4a4e54;
  padding: 20px;
  text-align: center;
  padding-bottom: 30px;
}

/* Grey list item */
.price .grey {
    color: #4a4e54;
  background-color: #fffa00;
  font-size: 20px;
}

/* The "Sign Up" button */
.button {
  background-color: #4a4e54;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

/* Change the width of the three columns to 100%
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
    </style>


    <section class="do-it-all" style="color: white;
    background-image: url({% static 'images/temp.jpg' %});
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;">
        <div class="element" id="do-it-all">
            <br><br><br><br> <br><br><br>
            <h2 class="title-h2">These are our<span style="color: white;"> subscription</span> plans:</h2>
            <div class="columns">
                <ul class="price">
                  <li class="header">Free Trial</li>
                  <li class="grey">If you are unsure about our services, check out our one month free trial!</li>
                  <li class="grey">BAM 0 </li>
                  <li class="grey"><a href="{% url 'register' %}" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="columns">
                <ul class="price">
                  <li class="header">Monthly</li>
                  
                  <li class="grey">Want to become our monthly user? We would be happy to serve you!</li>
    
                  <li class="grey">BAM 2.oo / monthly</li>
                  <li class="grey"><a href="{% url 'register' %}" class="button">Sign Up</a></li>
                </ul>
              </div>
              <div class="columns">
                <ul class="price">
                  <li class="header">Yearly</li>
                
                  <li class="grey">Save 17% with our yearly subscription!</li>
                  <li class="grey">BAM 20.00 / year</li>
                  <li class="grey"><a href="{% url 'register' %}" class="button">Sign Up</a></li>
                </ul>
              </div>
            
        </div>
    </section>
    

{% endblock %}