{% extends 'SubHazApp/base/base.html' %}
{% load static %}
{% block content %}
{% comment "" %}
<section class="banner work-banner">
    <div class="element">
        <h2 class="title-h2" style="color: white">Pretražite naše članove da pronađete <br> koji najbolje odgovara vašim potrebama</h2>
        <div class="search search-2">
            <form id="search" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="searched" placeholder="Upišite grad">
                <button type="submit" name="submit">PRETRAŽI</button>
            </form>
        </div>

    </div>
</section>
{% endcomment %}
<section class="banner">
    <div class="element">
        <h1>Članovi</h1>
    </div>
</section>



<section class="contractors">
    <div class="element">
        <h2 class="title-h2">Naši najbolji stručnjaci za pse</h2>
        <p class="text"> </p>
        <div class="cotractor-grid">
            {% for profile in profiles|slice:"0:6" %}
                <a href="#"><div class="contractor-display">
                    <img src="{{profile.image.url}}" alt="female-img">
                    <h3 class="title-h3">{{profile.user.first_name}} {{profile.user.last_name}}</h3>
                    <p class="text">{{profile.description}}</p>
                    <p class="text" style="margin-top: 15px;">{{profile.phone_number}}</p>
                </div></a>
            {% empty %}
            <h1 class="title-h1">Trenutno nema dostupnih članova!</h1>
            {% endfor %}
        </div>
    </div>
</section>


<!--NEWSLETTER-->


{% endblock %}