{% extends 'SubHazApp/base/base.html' %}
{% load static %}
{% block content %}


    <!--HERO SECTION-->

    <section class="banner" id="hero">
        <div class="element">
            <h3>Sve za i o Vašem psu na jednom mjestu</h3>
            <h1 style="padding-bottom: 50px;">Dobrodošli na <span style="color: #fffa00;">vodaj.ba</span></h1>
            <p style="padding-bottom: 75px;">Trebate dadilju ili šetaća za pse? Pretražite naše brojne <br> članove koji će se pobrinuti za Vašeg voljenog psa!</p>
            <div class="services">
                <div id="sign-up" class="btn-secondary"><a href="{% url 'search' %}">PRETRAŽI</a></div>
            </div>
            
        </div>
        </section>
        
    
    <!--COMPANIES LIST-->
    
    <section class="companies">
        <div class="element">
            <h2 class="title-h2">Naša web stranica promovira ekološke i bio proizvode</h2>
            <p class="text">Pet shop-ovi koji su naši sponzori su ekološki prihvatljivi jer prodaju isključivo ekološki prihvatljive proizvode.<br> Proizvodi su izrađeni bez štetnih hemikalija, a izrađeni su od prirodnih materijala.</p>
            <div class="companies-img">
                <div class="img zig-zag"><a href="https://www.facebook.com/petzone.ba/" target="_blank"><img src="{% static 'images/radnja1.jpg' %}" alt="dropbox" width="1500" height="350"></a><h4 align="center">Pet zone</h4></div>
                <div class="img zig-zag"><a href="https://www.thegreenpetshop.com/" target="_blank"><img src="{% static 'images/radnja2.jpg' %}" alt="shopify" width="1500" height="350"></a><h4 align="center">The Green pet shop</h4></div>
                <div class="img zig-zag"><a href="https://www.zoocentar.com/" target="_blank"><img src="{% static 'images/radnja3.jpg' %}" alt="intercom" width="1500" height="350"></a><h4 align="center">Zoo centar</h4></div>
            </div>
    
        </div>
    </section>
    
    
    <!--ZIG ZAG-->
    
    <section>
        <div class="zig-zag">        
            <div class="abs-bg" id="right"><div class="overlay-1"></div></div>
            <div class="element" id="zig-zag">
                <div>
                    <!--    Ovo je prvi zig zag opis    -->
                    <h2 class="title-h2">Naši šetaći pasa</h2>
                    <p class="text">Dobrovoljni šetač pasa je osoba koja dobrovoljno nudi svoje vrijeme i usluge šetanju pasa. Cilj dobrovoljnog šetača pasa je pružiti psima vježbu, socijalizaciju i interakciju s ljudima kako bi poboljšali njihovo fizičko i mentalno blagostanje dok čekaju na udomljavanje.

                    </p>
      
                </div>
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker1.jpg' %}" alt="image">
                </div>
            </div>
        </div>
        <div class="zig-zag" id="zig-zag-pc">
            <div class="abs-bg" id="left"><div class="overlay-2"></div></div>        
            <div class="element" id="zig-zag">
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker2.jpg' %}" alt="image">
                </div>
                <div>
                    <h2 class="title-h2">O čuvanju pasa</h2>
                    <p class="text">Cilj naših čuvara pasa je da psima pruže ljubazno, sigurno i ugodno okruženje, praveći društvo psima i brinući se o njima dok je vlasnik odsutan.</p>
    
                </div>
                
            </div>
        </div>
        <!--    MOBILE    -->
    
        <div id="zig-zag-mobile" class="zig-zag">
            <div class="abs-bg" id="right"><div class="overlay-2"></div></div>        
            <div class="element" id="zig-zag">
                <div>
                    <h2 class="title-h2">O čuvanju pasa</h2>
                    <p class="text">Cilj naših čuvara pasa je da psima pruže ljubazno, sigurno i ugodno okruženje, praveći društvo psima i brinući se o njima dok je vlasnik odsutan.</p>
                </div>
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker2.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    
        <!--  END  MOBILE    -->
    
        <div id="last" class="zig-zag">
            <div class="abs-bg" id="right"><div class="overlay-3"></div></div>
            <div class="element" id="zig-zag">
                <div>
                    <h2 class="title-h2">Naši treneri pasa</h2>
                    <p class="text">Trener pasa je profesionalac koji je specijaliziran za podučavanje pasa poslušnosti, modificiranju ponašanja i drugim vještinama. Koriste tehnike pozitivnog osnaživanja kako bi pomogli psima da nauče i razviju dobre manire i pomažu vlasnicima kućnih ljubimaca u rješavanju specifičnih problema kao što su pretjerano lajanje, agresija ili anksioznost odvajanja.</p>
                </div>
                <div  class="img-zig-zag">
                    <img src="{% static 'images/walker3.jpg' %}" alt="image">
                </div>
            </div>
        </div>    
    </section>
    
    
    
    
    
    
    
    <!--DO IT ALL-->
    {% comment %}
    <section class="do-it-all">
        <div class="element" id="do-it-all">
            <h2 class="title-h2">These are some of our TOP members:</h2>
            
            <div class="offer-1">
                {% for profile in profiles|slice:":3" %}
                <div class="v-container"><a href="#">
                    <img src="{{profile.image.url}}" alt="image">
                    <h5>{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                    <p>{{profile.description}}</p></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endcomment %}
    
    
    <section class="demo">
    <div class="overlay-5">
        <h2>Želiš postati član naše zajednice?</h2>
        <div class="btn-secondary" id="demo-btn"><a href="{% url 'about' %}">Apliciraj ovdje</a></div>
        
    </div>
    </section>
    
    <!--LEGAL-->
    
    <section class="legal">
        <a id="anchor" name="anchor"></a>
        <div class="element">
            <div class="flex-1">
                <div class="container-1">
                    <div>
                        <img src="{% static 'images/logo.svg' %}" alt="image">
                    </div>
                    <div>
                        <h3>Nešto o <span style="color: #4a4e54;">vodaj</span>.ba</h3>
                        <p class="text">Vodaj.ba je web stranica na kojoj su predstavljene sve usluge za vašeg psa.
                            Naši članovi su uvijek spremni da izvedu vašeg psa u šetnju ili da ih dok ste odsutni. Također, naša web stranica vam pruža usluge poput ekološki prihvatljivih prodavnica kućnih ljubimaca i trenera pasa koji će naučiti vašeg psa dobrom ponašanju i u blizini ljudi i djece.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--FOTTER-->

{% endblock %}