{% extends 'SubHazApp/base/base.html' %}
{% load static %}
{% block content %}


    <!--HERO SECTION-->

    <section class="banner" id="hero">
        <div class="element">
            <h3>Everything for and about your dog in one place</h3>
            <h1 style="padding-bottom: 50px;">Welcome to <span style="color: #fffa00;">vodaj.ba</span></h1>
            <p style="padding-bottom: 75px;">Need a dog sitter or walker? Search through our many <br> members to take care of your beloved dog!</p>
            <div class="services">
                <div id="sign-up" class="btn-secondary"><a href="{% url 'search' %}">Search</a></div>
            </div>
            
        </div>
        </section>
        
    
    <!--COMPANIES LIST-->
    
    <section class="companies">
        <div class="element">
            <h2 class="title-h2">Our website is promoting eco-fiendly and bio products</h2>
            <p class="text">The pet shop that are our sponsors are eco friendly because they sell only environmentally friendly products. <br> The products are made without harmful chemicals, and are made from natural materials.</p>
            <div class="companies-img">
                <div class="img zig-zag"><a href="https://www.facebook.com/petzone.ba/"><img src="{% static 'images/radnja1.jpg' %}" alt="dropbox" width="1500" height="350"></a><h4 align="center">Pet zone</h4></div>
                <div class="img zig-zag"><a href="https://www.thegreenpetshop.com/"><img src="{% static 'images/radnja2.jpg' %}" alt="shopify" width="1500" height="350"></a><h4 align="center">The Green pet shop</h4></div>
                <div class="img zig-zag"><a href="https://www.zoocentar.com/"><img src="{% static 'images/radnja3.jpg' %}" alt="intercom" width="1500" height="350"></a><h4 align="center">Zoo centar</h4></div>
            </div>
    
        </div>
    </section>
    
    
    <!--ZIG ZAG-->
    
    <section>
        <div class="zig-zag">        
            <div class="abs-bg" id="right"><div class="overlay-1"></div></div>
            <div class="element" id="zig-zag">
                <div>
                    <!--    Ovo je prvi zig zag opis    -->
                    <h2 class="title-h2">Our dog walkers</h2>
                    <p class="text">A volunteer dog walker is a person who voluntarily offers their time and services to walk dogs. The goal of a volunteer dog walker is to provide the dogs with exercise, socialization, and human interaction to improve their physical and mental well-being while they wait to be adopted.</p>
      
                </div>
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker1.jpg' %}" alt="image">
                </div>
            </div>
        </div>
        <div class="zig-zag" id="zig-zag-pc">
            <div class="abs-bg" id="left"><div class="overlay-2"></div></div>        
            <div class="element" id="zig-zag">
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker2.jpg' %}" alt="image">
                </div>
                <div>
                    <h2 class="title-h2">Our dog sitters</h2>
                    <p class="text">The goal of our dog sitters is to provide a loving, safe and comfortable environment for the dogs, keeping the dogs company and making sure they are well taken care of while the owner is away.</p>
    
                </div>
                
            </div>
        </div>
        <!--    MOBILE    -->
    
        <div id="zig-zag-mobile" class="zig-zag">
            <div class="abs-bg" id="right"><div class="overlay-2"></div></div>        
            <div class="element" id="zig-zag">
                <div>
                    <h2 class="title-h2">Our dog sitters</h2>
                    <p class="text">The goal of our dog sitters is to provide a loving, safe and comfortable environment for the dogs, keeping the dogs company and making sure they are well taken care of while the owner is away.</p>
                </div>
                <div class="img-zig-zag">
                    <img src="{% static 'images/walker2.jpg' %}" alt="image">
                </div>
            </div>
        </div>
    
        <!--  END  MOBILE    -->
    
        <div id="last" class="zig-zag">
            <div class="abs-bg" id="right"><div class="overlay-3"></div></div>
            <div class="element" id="zig-zag">
                <div>
                    <h2 class="title-h2">Our dog trainers</h2>
                    <p class="text"> A dog trainer is a professional who specializes in teaching dogs obedience, behavior modification and other skills. They use positive reinforcement techniques to help dogs learn and develop good manners, and help pet owners address specific issues such as excessive barking, aggression, or separation anxiety.</p>
                </div>
                <div  class="img-zig-zag">
                    <img src="{% static 'images/walker3.jpg' %}" alt="image">
                </div>
            </div>
        </div>    
    </section>
    
    
    
    
    
    
    
    <!--DO IT ALL-->
    
    <section class="do-it-all">
        <div class="element" id="do-it-all">
            <h2 class="title-h2">These are some of our TOP members:</h2>
            
            <div class="offer-1">
                {% for profile in profiles|slice:":3" %}
                <div class="v-container"><a href="#">
                    <img src="{{profile.image.url}}" alt="image">
                    <h5>{{profile.user.first_name}} {{profile.user.last_name}}</h5>
                    <p>{{profile.description}}</p></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    
    <section class="demo">
    <div class="overlay-5">
        <h2>Want to become a member of our comunity?</h2>
        <div class="btn-secondary" id="demo-btn"><a href="{% url 'about' %}">Apply here</a></div>
        
    </div>
    </section>
    
    <!--LEGAL-->
    
    <section class="legal">
        <a id="anchor" name="anchor"></a>
        <div class="element">
            <div class="flex-1">
                <div class="container-1">
                    <div>
                        <img src="{% static 'images/logo.svg' %}" alt="image">
                    </div>
                    <div>
                        <h3>About <span style="color: #4a4e54;">vodaj</span>.ba</h3>
                        <p class="text">Vodaj.ba is a website where all services for your dog are presented.<br>Our members are always ready to take your dog for a walk or to be dog sitter while you are away. Also our website provides you with services like eco-friendly pet shops and dog trainers that will teach your dog good manners and to behave well around people and kids.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--FOTTER-->

{% endblock %}