{% extends 'SubHazApp/base/base-white.html' %}
{% load static %}
{% block content %}

<section class="search_main" id="consultant_search">
    <div class="element job-search">
        <form action="{% url 'search' %}" method="POST" >
            {% csrf_token %}
            <div class="certificate_search">

                <div class="first_search_option">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <select name="searched" id="searched" required>
                        <option value="none" selected disabled hidden>Search by certificate</option>
                        {% for certificate_type in certificate_types %}
                        <option value="{{certificate_type}}">{{certificate_type}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div id="second_search_option" class="second_search_option">
                    <div id="sort_by_1" class="sort_by_1">
                        <input id="searched_region" name="searched_region" list="searched_regions" placeholder="-- Select a Region --" required value=""> <br>
                        <datalist id="searched_regions">
                            {% for region_search in regions %}
                            <option value="{{region_search}}">
                            {% endfor %}
                        </datalist>
                    </div>

                </div>
                
            </div>
            
            <button class="btn-primary" type="submit" name="submit">PRETRAŽI</button>
        </form>
        
    </div>
</section>
{% if searched %}
<section class="search-results">
    <div class="element results">
    {% for result in results %}
        <div class="consultant">
        
            <div class="consultant_image">
                <a href="#"><img src="https://www.thefamouspeople.com/profiles/images/william-shatner-2.jpg" alt="consultant_image"></a>
                <div class="dot"></div>
            </div>
        
            <div class="consultant_data">
                <div class="basic_info">
                    <div>
                        <a href="{% url 'contractor' result.consultant_Id %}"><h3 class="title-h3">{{result.consultant_Id}}</h3></a>
                        <b><p class="text">{{result.consultant_Id.consultant_company}}</p></b>
                        <p class="text">Rate Range: {{result.consultant_Id.rate_range}}</p>
                    </div>
                    <div>
                        <a href="#"><button class="btn-primary">KONTAKTIRAJTE</button></a>
                    </div>
                </div>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="categories">
                    {% if result.certificate_type == 'CAC' or result.certificate_type == 'CSST' or result.certificate_type == 'NIOSH 582'%}
                    <a href="#" class="text">Azbestos</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
    <h1 class="title-h1">There are no contractors!</h1>
    {% endfor %}
    </div>
    <a href="{% url 'contractors' %}"><button class="btn-primary"> VIEW MORE</button> </a>
</section>
{% endif %}

<script>
    var regions_dictionary = {{ regions_dictionary | safe }};
    var regionsX = [];

    for(var key in regions_dictionary){
        regionsX.push(key);
    }

    function execute(){

        var searched_region = document.getElementById("searched_region");

        if(regionsX.includes(searched_region.value)){

            var districts = regions_dictionary[searched_region.value];

            document.getElementById("second_search_option").insertAdjacentHTML('beforeend', '<div id="sort_by_2" class="sort_by_2"><select name="searched_district" id="searched_district"><option disabled selected value="">-- Select a District --</option>');
            
            for(let x in districts){
                document.getElementById("searched_district").insertAdjacentHTML('beforeend', '<option value="'+ districts[x] +'">' + districts[x]+ '</option>');
            }

            document.getElementById("second_search_option").insertAdjacentHTML('beforeend', '</select></div>');
            
            clearInterval(interval);
        }
        
    }
    
    const interval = setInterval(execute, 1000);    

</script>

{% endblock %}