{% extends 'SubHazApp/base/base.html' %}
{% load static %}
{% block content %}

<section class="banner work-banner">
    <div class="element">
        <h2 class="title-h2" style="color: white">Search through our members to find <br> the best one that suits your needs</h2>
        <div class="search search-2">
            <form id="search" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" name="searched" placeholder="Search by city of interest">
                <button type="submit" name="submit">SEARCH</button>
            </form>
        </div>

    </div>
</section>


<section class="work">
    <div class="element">
        <a id="anchor" name="anchor"></a>
        <h2 class="title-h2" align="center">Search results:</h2>
        {% if searched %}
        <div class="work-grid">
            {% for result in results %}
                <a href="#"><div class="work-display">
                    <img src="{{result.image.url}}" alt="img">
                    <h3 class="title-h3">{{result.user.first_name}} {{result.user.last_name}}</h3>
                    <p class="text">{{result.description}}</p>
                    <p class="text" style="margin-top: 15px;">{{result.phone_number}}</p>
                </div></a>
            {% empty %}
                <h1 class="title-h1">There are no current members in your town</h1>
            {% endfor %}
        </div>
        {% endif %}
        
    </div>
    
</section>


{% endblock %}