{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vodaj.ba</title>
    <link href="{% static 'scss/styles.css' %}" type="text/css" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.svg' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/cf6b16748e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>
        <style>
            .checked {
          color: #fffa00;
          }
          .fa-star-half-full{
            color: #fffa00;
          }
        </style>
</head>
<body>
    <header>

            <div><a href="{% url 'home' %}"><div style="display: flex; justify-content: center; align-items: center;"><img class="logo" src="{% static 'images/logo.svg' %}" alt="Logo" width="80"><span id="logo-text" style=" font-family: 'Ubuntu'; margin-left: 20px; font-size: 40px; color: white;">Vodaj</span><span style=" font-family: 'Ubuntu';font-size: 40px; color: #fffa00;">.ba</span></span></div></a> </div>

            <input type="checkbox" id="checkbox" class="checkbox"/>
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            
            <nav class="navbar">
                <ul class="menu-items">
                    <li>
                        <a href="{% url 'home' %}"><span>POČETNA</span></a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}#anchor"><span>O NAMA</span></a>
                    </li>
                    <li>
                        <a href="{% url 'contractors' %}"><span>NAŠI ČLANOVI</span></a>
                    </li>
                    {% comment "Izbaceno jer je viska :) " %}
                    <li>
                        <a href="{% url 'search' %}"><span>PRETRAŽIVANJE</span></a>
                    </li>
                    {% endcomment %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}"><span>LOGOUT</span></a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}"><span>LOGIN</span></a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'register' %}"><span>REGISTRUJ SE</span></a>
                    </li>
                </ul>
            </nav>
    </header>

    {% block content %}
    
    {% endblock %}
    <footer class="footer">
        <div class="element" id="footer-menu-1">
            <div class="footer-first">
                <div><a href="#"><img src="{% static 'images/logo-white.svg' %}" alt="logo" width="100" ></a></div>
                <div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/vodaj.ba/" target="_blank" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </div>
            </div>
            <div>
                <nav>
                    <h5>Postani član</h5>
                    <ul>
                        <li>
                            <a href="#"><span>Smjernice</span></a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}"><span>Registracijska forma</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Pravila za članove</span></a>
                        </li>
                </nav>
            </div>
            <div>
                <nav>
                    <h5>Naše <br> usluge</h5>
                    <ul>
                        <li>
                            <a href="#"><span>Čuvanje pasa</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Vodanje pasa</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Treniranje pasa</span></a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}"><span>Plaćanje</span></a>
                        </li>
                </nav>
            </div>
            <div>
                <nav>
                    <h5>Eco-friendly petshops</h5>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/petzone.ba/" target="_blank">Pet zone</a>
                        </li>
                        <li>
                            <a href="https://www.thegreenpetshop.com/" target="_blank">The Green pet shop</a>
                        </li>
                        <li>
                            <a href="https://www.zoocentar.com/" target="_blank">Zoo centar</a>
                        </li>
                </nav>
            </div>
            
        </div>
        <div class="element">
            <hr style="margin-top: 60px;">
        </div>
        <div class="element">
            <div class="flex-5">
                <div class="copyright"><span>© Copyright vodaj.ba . Sva prava pridržana. </span></div>
                <div>
                    <nav class="footer-menu-2">
                        <ul>
                            <li><a href="#"><span>Disclaimer</span></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><span>Privacy Policy</span></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><span>Terms of Service</span></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><span>Cookie Policy</span></a></li>
                        </ul>
                        <ul>
                            <li><a href="#"><span>Cookie Settings</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    </body>
    </html>