{% extends 'SubHazApp/base/base-white.html' %}
{% load static %}
{% block content %}


<section class="login">
    <div class="element-2">
        <h1 class="title-h1">Login</h1>
        <div class="form">
            <form action="#" method="post">
                {% csrf_token %}
                <input id="username" type="text" name="username" placeholder="Korisničko ime" required> <br>
                <input id="password" type="password" name="password" placeholder="Šifra" required> <br>

                <button class="submit-2" type="submit" name="submit" id="submit">SUBMIT</button>
            </form>
        </div> 
        <p class="text">Nemate račun? Pokušaj<a href="{% url 'register' %}"> registrovati se</a></p>
    </div>
    
</section>

{% endblock %}