{% extends 'SubHazApp/base/base-white.html' %}
{% load static %}
{% block content %}

{% if form.errors %}
<p class="text">Došlo je do greške u vašem formularu...</p>
{% endif %}

<section class="register">
    <div class="element-2">
        
        <h1 class="title-h1">Registruj se</h1>
        <div class="form">
            <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form1 }}
                <label for="image">Profilna slika:</label>
                <input type="file" name="image">

                <label for="image_id">Slika vaše lične karte:</label>
                <input type="file" name="image_id">

                <label for="phone_number">Telefonski broj:</label>
                <input type="tel" name="phone_number">

                <label for="city">Grad:</label>
                <select type="text" name="city">
                    {% for city in cities_list %}
                    <option value="{{city}}">{{city}}</option>
                    {% endfor %}
                </select>
                <label for="address">Adresa:</label>
                <input type="text" name="address">

                <label for="charge_rate">Koliko naplaćujete u KM:</label>
                <input type="number" name="charge_rate">

                <label for="description">Opišite sebe u jednoj ili dvije rečenice:</label>
                <textarea type="tex" name="description"></textarea>

                <button class="submit-2" type="submit" name="submit" id="submit">PODNESI</button>
            </form>
        </div>  
        <p class="text">Već imate račun? Pokušaj <a href="{% url 'login' %}">prijaviti se</a></p>
    </div>
</section>

{% endblock %}