{% extends 'SubHazApp/base/base-white.html' %} 
{% load static %} 
{% block content %}

<section class="register">
  <div class="element-2">
    <h1 class="title-h1">Register as a consultant</h1>
    <div class="form">
      <form action="" method="post">
        {% csrf_token %}

        <input id="reg" name="region" list="region" placeholder="Select Region of operation" required value=""> <br />
        <datalist id="region">
          {% for x in regions %}
          <option value="{{x}}">
          {% endfor %}
        </datalist>
        <span id="target"></span>
        <input name="company" list="company" placeholder="Select an company or leave blank"/> <br />
        <datalist id="company">
          {% for comp in company_list %}
          <option value="{{comp}}">
          {% endfor %}
        </datalist>

        <select name="rate" id="rate" required>
          <option value="none" selected disabled hidden>Select an Rate Range</option>
          {% for range in range_list %}
          <option value="{{range}}">{{range}}</option>
          {% endfor %}
        </select>
        <button class="submit-2" type="submit" name="submit" id="submit">SUBMIT</button>
      </form>
    </div>
  </div>
</section>


<script>
  var regions_dictionary = {{ regions_dictionary | safe }};
  var regionsX = [];

  for(var key in regions_dictionary){
      regionsX.push(key);
  }

  function execute(){

      var searched_region = document.getElementById("reg");

      if(regionsX.includes(searched_region.value)){

          var districts = regions_dictionary[searched_region.value];

          document.getElementById("target").insertAdjacentHTML('beforeend', '<select name="district" id="district"><option disabled selected value="">Select District of operation</option>');
          
          for(let x in districts){
              document.getElementById("district").insertAdjacentHTML('beforeend', '<option value="'+ districts[x] +'">' + districts[x]+ '</option>');
          }

          document.getElementById("target").insertAdjacentHTML('beforeend', '</select></div>');
          
          clearInterval(interval);
      }
      
  }
  
  const interval = setInterval(execute, 1000);    

</script>

{% endblock %}
